/* Summer Banner Area css
============================================================================================ */
.best_summer_banner{
    position: relative;
}
.summer_text{
    position: absolute;
    left: 170px;
    top: 50%;
    transform: translateY(-50%);
    max-width: 465px;
    width: 100%;
    h3{
        font-size: 60px;
        color: #000;
        font-family: $pop;
        font-weight: 600;
    }
    p{
        font-size: 16px;
        line-height: 24px;
        color: #000;
        font-family: $pop;
        font-weight: normal;
        padding: 45px 0px 60px 0px;
    }
    .add_cart_btn{
        padding: 0px 38px;
    }
}
/* End Summer Banner Area css
============================================================================================ */

/* Categories Banner Area css
============================================================================================ */

.c_banner_inner{
    text-align: center;
    padding: 170px 0px;
    h3{
        color: #fff;
        font-size: 24px;
        font-family: $pop;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: .6px;
        padding-bottom: 5px;
    }
    ul{
        li{
            display: inline-block;
            margin-right: 10px;
            a{
                font-size: 14px;
                color: #cccccc;
                font-family: $pop;
                font-weight: normal;
                position: relative;
                letter-spacing: .35px;
                &:before{
                    content: ">";
                    position: absolute;
                    right: -10px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            &:last-child{
                margin-right: 0px;
                a{
                    &:before{
                        display: none;
                    }
                }
            }
            &.current{
                a{
                    color: #fff;
                }
            }
        }
    }
}
/* End Categories Banner Area css
============================================================================================ */

/* Solid Banner Area css
============================================================================================ */
.solid_banner_area{
    background: #f3f3f3;
    text-align: center;
}
.solid_banner_inner{
    padding: 68px 0px;
    h3{
        font-size: 24px;
        text-transform: uppercase;
        color: #000;
        font-family: $pop;
        font-weight: 600;
        letter-spacing: .60px;
        padding-bottom: 10px;
    }
    ul{
        li{
            display: inline-block;
            margin-right: 12px;
            a{
                font-size: 14px;
                font-family: $pop;
                font-weight: normal;
                letter-spacing: .35px;
                color: #000;
                position: relative;
                display: inline-block;
                &:before{
                    content: ">";
                    position: absolute;
                    right: -10px;
                    top: 54%;
                    transform: translateY(-50%);
                }
            }
            &:last-child{
                margin-right: 0px;
                a{
                    &:before{
                        display: none;
                    }
                }
            }
        }
    }
}
/* End Solid Banner Area css
============================================================================================ */
